@use "../settings/font";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: font.$type-open-sans;
  font-size: font.$font-size-md;
  font-weight: 400;
  color: var(--color-text);
  margin: 0;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: scroll;
}

:is(button, a, input):is(:focus, :focus-visible) {
  outline: solid 2px var(--color-tertiary);
}

:is(button, a, input):focus:not(:focus-visible) {
  outline: none;
}

.scroll-lock {
  overflow: hidden;
}
