$color-white: #ffffff;
$color-black: #000000;

$color-grey-very-light: #fbfbfb;
$color-grey-light: #eaeaea;
$color-grey-dark: #888888;

$color-alert: #c62c2c;
$color-success: #3fb943;

$color-border: #eeeeee;
